Home\ Reminders.xcodeproj/xcuserdata/larry.xcuserdatad/xcdebugger
Home Reminders/Supporting Files/Snippets.swift
Home Reminders/Supporting Files/InfoPlist.strings
Home Reminders/Supporting Files/Info.plist